artifacts/checkpoints/ml-1m_gmf_best.pt filter=lfs diff=lfs merge=lfs -text
artifacts/checkpoints/ml-1m_gmf_last.pt filter=lfs diff=lfs merge=lfs -text
Data/ml-1m.train.rating filter=lfs diff=lfs merge=lfs -text
